@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    scroll-behavior: smooth;
}

/* Header section */
.head-address h4 {
    font-weight: 500;
}

.media {
    margin-top: 10px;
}

.media i {
    margin-left: 20px;
}

/* brand name */
.navbar-brand {
    font-size: 35px;
    font-weight: 600;
    margin-top: 7px;
}

.index {
    text-align: right;
    padding-left: 150px;

}

.index ul li a {
    padding: 10px;
}

.navi ul li a {
    color: rgb(19, 19, 117);
    margin-top: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* button */
.navbar-btn {
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 500;
}

.login {
    background-color: rgb(234, 79, 105);
    border: none;
    color: white;
}

.signup {
    background-color: rgb(4, 106, 109);
    border: none;
    color: white;
}


/* First Page */
.first-page {
    position: relative;
    background: url(./asset/Landing\ Page/background.jpg);
    background-position: cover;
    margin-top: -20px;
}

.landing {
    margin-top: 130px;
}

.content h1 {
    font-size: 50px;
    width: 400px;
    font-weight: 700;
}

.content p {
    width: 350px;
    font-size: 16px;
    margin-left: 10px;
    color: rgb(92, 92, 92);
}

.reg {
    margin-left: 10px;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(0, 133, 170);
    color: white;
}

.reg:hover {
    margin-left: 10px;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(0, 133, 170);
    color: white;
    border-radius: 40px;
    transition: 0.8s;
}

.png {
    margin-left: 60px;
    animation: bounce 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.png p {
    font-size: 20px;
    margin-top: -120px;
    margin-left: 40px;
    width: 130px;
    font-weight: 700;
    color: rgb(19, 19, 117);
    text-align: center;
}

.land_pic {
    margin-top: -100px;
    margin-left: -60px;
}


/* position */
.form {
    position: absolute;
    width: 1115px;
    height: 200px;
    padding: 55px;
    margin-top: -60px;
    margin-left: 195px;
    background-color: white;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 8px;
}

.menu {
    background-color: aliceblue;
}

.male .menu {

    padding-right: 70px;
    height: 40px;
}

.female .menu {
    padding-right: 70px;
    height: 40px;
}

.age .menu {
    padding-right: 50px;
    height: 40px;

}

.age2 .menu {
    padding-right: 50px;
    height: 40px;
    margin-left: -50px;
}

.age h5 {
    margin-left: 15px;
}

.location .menu {
    padding-right: 50px;
    height: 40px;
    margin-left: -70px;
}

.location h5 {
    margin-left: -70px;
}

.partner {
    margin-top: 35px;
    margin-left: -30px;
    padding: 10px 30px;
    font-size: 14px;
    border-radius: 3px;
    background-color: rgb(205, 71, 93);
    transition: 0.3s;
}

.partner:hover {
    margin-top: 35px;
    margin-left: -30px;
    padding: 10px 30px;
    font-size: 14px;
    background-color: rgb(205, 71, 93);
    border-radius: 20px;
    transition: 0.3s;
}



/* gallery */
.sec-page {
    background-color: aliceblue;
}

.gallery {
    margin-top: 250px;
}

.gallery p {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color: rgb(19, 19, 117);
}

.gallery h5 {
    text-align: center;
    width: 600px;
    line-height: 20px;
    margin-left: 270px;
    color: rgb(97, 97, 97);
}

.ribbon {
    margin: 10px;
    padding: 0px;
    width: 250px;
    height: 300px;
    overflow: hidden;
    /* border:2px solid red; */
    border-radius: 5px;
    position: relative;
}

/* Image styling */
.ribbon img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    /* Smooth transition */
}

/* Hover effect */
.ribbon:hover img {
    transform: scale(1.2);
    /* Scale image to 1.2x its size */
}

.content h2 {
    width: 100%;
    height: 10%;
    text-align: center;
    position: absolute;
    top: 200px;
    margin-left: -20px;
    color: white;
    opacity: 0;
    transform: translateY(25px);
    transition: transform 0.2s;

}

.ribbon:hover .content h2 {
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.516);
    height: 300px;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s;
}

.blue {
    margin: 10px;
    padding: 0px;
    width: 250px;
    height: 300px;
    overflow: hidden;
    /* border:2px solid red; */
    border-radius: 5px;
}

/* Image styling */
.blue img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    /* Smooth transition */
}

.blue:hover img {
    transform: scale(1.2);
    /* Scale image to 1.2x its size */
}

.blue:hover .content h2 {
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.516);
    height: 300px;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s;
}

.forest {
    margin: 10px;
    padding: 0px;
    width: 250px;
    height: 300px;
    overflow: hidden;
    /* border:2px solid red; */
    border-radius: 5px;
}

/* Image styling */
.forest img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    /* Smooth transition */
}

/* Hover effect */
.forest:hover img {
    transform: scale(1.2);
    /* Scale image to 1.2x its size */
}

.forest:hover .content h2 {
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.516);
    height: 300px;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s;
}

.blackmark {
    margin: 10px;
    padding: 0px;
    width: 250px;
    height: 300px;
    overflow: hidden;
    /* border:2px solid red; */
    border-radius: 5px;
}

/* Image styling */
.blackmark img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    /* Smooth transition */
}

.blackmark:hover img {
    transform: scale(1.2);
    /* Scale image to 1.2x its size */
}

.blackmark:hover .content h2 {
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.516);
    height: 300px;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s;
}

.yellow {
    margin: 10px;
    padding: 0px;
    width: 250px;
    height: 300px;
    overflow: hidden;
    /* border:2px solid red; */
    border-radius: 5px;
}

/* Image styling */
.yellow img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    /* Smooth transition */
}

.yellow:hover img {
    transform: scale(1.2);
}

.yellow:hover .content h2 {
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.516);
    height: 300px;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s;
}

.jean {
    margin: 10px;
    padding: 0px;
    width: 250px;
    height: 300px;
    overflow: hidden;
    /* border:2px solid red; */
    border-radius: 5px;
}

/* Image styling */
.jean img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    /* Smooth transition */
}

.jean:hover img {
    transform: scale(1.2);
    /* Scale image to 1.2x its size */
}

.jean:hover .content h2 {
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.516);
    height: 300px;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s;
}


.white {
    margin: 10px;
    padding: 0px;
    width: 250px;
    height: 300px;
    overflow: hidden;
    /* border:2px solid red; */
    border-radius: 5px;
}

/* Image styling */
.white img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    /* Smooth transition */
}

.white:hover img {
    transform: scale(1.2);
    /* Scale image to 1.2x its size */
}

.white:hover .content h2 {
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.516);
    height: 300px;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s;

}

.orange {
    margin: 10px;
    padding: 0px;
    width: 250px;
    height: 300px;
    overflow: hidden;
    /* border:2px solid red; */
    border-radius: 5px;
}

/* Image styling */
.orange img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    /* Smooth transition */
}

.orange:hover img {
    transform: scale(1.2);
    /* Scale image to 1.2x its size */
}

.orange:hover .content h2 {
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.516);
    height: 300px;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s;
}

.popular {
    font-size: 18px;
    margin-top: 30px;
    border-radius: 4px;
    padding: 15px 40px;
    background-color: rgb(0, 133, 170);
    border: none;
    margin-bottom: 150px;
    margin-left: 440px;
    transition: 0.3s;
}

.popular:hover {
    font-size: 18px;
    margin-top: 30px;
    border-radius: 4px;
    padding: 15px 40px;
    background-color: rgb(0, 133, 170);
    border: none;
    margin-bottom: 150px;
    margin-left: 440px;
    border-radius: 40px;
    transition: 0.3s;
}

.uk {
    margin: 10px;
    padding: 0px;
    width: 230px;
    height: 350px;
    overflow: hidden;
    /* border:2px solid red; */
    border-radius: 5px;
}

/* Image styling */
.uk-img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    /* Smooth transition */
}

.uk:hover .uk-img {
    transform: scale(1.2);
    /* Scale image to 1.2x its size */
}

/* spain */
.spain {
    margin: 10px;
    padding: 0px;
    width: 230px;
    height: 350px;
    overflow: hidden;
    /* border:2px solid red; */
    border-radius: 5px;
}

/* Image styling */
.spain-img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    /* Smooth transition */
}

.spain:hover .spain-img {
    transform: scale(1.2);
    /* Scale image to 1.2x its size */
}


.taj {
    padding: 0px;
    width: 260px;
    height: 350px;
    overflow: hidden;
    /* border:2px solid red; */
    border-radius: 5px;
}

/* Image styling */
.taj-img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    /* Smooth transition */
}

.taj:hover .taj-img {
    transform: scale(1.2);
    /* Scale image to 1.2x its size */
}

.dubai {
    width: 260px;
    height: 350px;
    padding: 0;
    margin-left: 30px;
    overflow: hidden;
    border-radius: 5px;
}

.dubai-img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.dubai:hover .dubai-img {
    transform: scale(1.2);
}

.france {
    width: 490px;
    height: 350px;
    padding: 0px;
    margin-left: 30px;
    overflow: hidden;
    border-radius: 5px;
}

.france-img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.france:hover .france-img {
    transform: scale(1.2);
}


/* Date */
.date {
    margin-top: 150px;
}

.date-head p {
    font-size: 50px;
    font-weight: 600;
    color: rgb(19, 19, 117);
    text-align: center;
}

.date-head h5 {
    width: 500px;
    text-align: center;
    /* border: 2px solid blue; */
    margin-top: 10px;
    margin-left: 350px;
    line-height: 20px;
}

.box {
    border: 2px solid blue;
    padding: 70px 50px;
    width: 250px;
    margin: 10px;
    background-color: white;
    border: 4px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.box:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: translateY(-2px);
    transition: 0.3s;

}

.tv {
    font-size: 18px;
    margin-top: 30px;
    border-radius: 4px;
    padding: 15px 40px;
    background-color: rgb(234, 79, 105);
    border: none;
    margin-bottom: 150px;
    margin-left: 400px;
    transition: 0.5s;
}

.tv:hover {
    font-size: 18px;
    margin-top: 30px;
    border-radius: 4px;
    padding: 15px 40px;
    background-color: rgb(234, 79, 105);
    border: none;
    margin-bottom: 150px;
    margin-left: 400px;
    border-radius: 40px;
    transition: 0.5s;
}

.dating {
    background: url(./asset/gallery/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

/* places */
.regions {
    background-color: aliceblue;
    margin-top: -20px;
}

.places {
    margin-top: 150px;
    margin-bottom: 150px;
}

.area {
    width: 400px;
}

.area p {
    font-size: 50px;
    font-weight: 600;
    color: rgb(19, 19, 117);
}

.area h5 {
    width: 450px;
    font-size: 14px;
    line-height: 25px;
}

.locate {
    font-size: 16px;
    margin-top: 30px;
    background-color: rgb(0, 133, 170);
    color: white;
}

.locate:hover {
    font-size: 16px;
    margin-top: 30px;
    background-color: rgb(0, 133, 170);
    color: white;
    border-radius: 40px;
    transition: 0.5s;

}

.pics {
    margin-left: 150px;
    padding-left: 10px;

}

.picss {
    margin-top: 20px;
    margin-left: -20px;
}

.pos img {
    margin-top: -100px;
    margin-left: 20px;
    position: absolute;
    border-radius: 50%;
}

.pos h4 {
    position: absolute;
    width: 200px;
    margin-top: -40px;
    font-weight: 500;
    color: white;
    margin-left: 20px;
}



/* Works */
.work {
    background-image: url(./asset/work/bg.jpg);
    background-size: cover;
}

.work-head h2 {
    font-size: 50px;
    margin-top: 100px;
    margin-left: 400px;
    color: rgb(19, 19, 117);
    margin-bottom: 50px;
}

.find {
    box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 8px;
    height: 350px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 150px;
}

.features a {
    font-size: 20px;
    border: none;
    font-weight: 500;
}

.features a:hover {
    font-size: 20px;
    font-weight: 500;
    border: none;
    color: rgb(192, 23, 51);
}

.features .f1:hover {
    background-color: white;
}

.features .f3:hover {
    background-color: white;
}

.features {
    height: 350px;
    margin-left: -30px;
}

.f1,
.f3 {
    background-color: white;
}

.features .f2 {
    color: rgb(192, 23, 51);
}

.f2,
.f4 {
    background-color: rgba(128, 128, 128, 0.084);
}

.chat {
    margin-top: 60px;
}

.caption {
    margin-top: 70px;
}

.caption p {
    font-size: 15px;
    width: 420px;
    font-weight: 400;
    color: rgba(99, 98, 98, 0.723);
}

/* Story */

.story h2 {
    font-size: 50px;
    margin-top: 100px;
    text-align: center;
    color: rgb(19, 19, 117);
}

.story p {
    width: 500px;
    text-align: center;
    margin-left: 300px;
    margin-bottom: 50px;
    color: rgba(97, 95, 95, 0.878);

}

.photos {
    margin-bottom: 100px;

}

.album {
    background-image: url(./asset/album/bg.jpg);
    background-size: cover;
}

.couple1 {
    height: 400px;
    background-color: white;
    margin: 10px;
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 8px;
}

.couple2 {
    height: 400px;
    background-color: white;
    margin: 10px;
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 8px;
}

.couple3 {
    height: 400px;
    background-color: white;
    margin: 10px;
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 8px;

}

.couple1 a {
    font-size: 20px;
    padding: 4px;

}

.couple1 a:hover {
    font-size: 20px;
    padding: 4px;
    color: rgb(196, 62, 84)
}

.couple2 a {
    font-size: 20px;
    padding: 4px;

}

.couple2 a:hover {
    font-size: 20px;
    padding: 4px;
    color: rgb(196, 62, 84)
}

.couple3 a {
    font-size: 20px;
    padding: 4px;

}

.couple3 a:hover {
    font-size: 20px;
    padding: 4px;
    color: rgb(196, 62, 84)
}

.name-img {
    padding: 0px;
}

.name {
    margin-left: 0px;
}

.name h4 {
    color: rgb(3, 3, 52);
}

.couple1 h6 {
    position: absolute;
    margin-top: -40px;
    margin-left: 20px;
    padding: 5px;
    background: linear-gradient(to right, #990099 0%, #ffffff 100%);
    border-radius: 5px;
    color: white;
}

.couple2 h6 {
    position: absolute;
    margin-top: -40px;
    margin-left: 20px;
    padding: 5px;
    background: linear-gradient(to right, #60addd 0%, #ffffff 100%);
    color: white;
    border-radius: 5px;
}

.couple3 h6 {
    position: absolute;
    margin-top: -40px;
    margin-left: 20px;
    padding: 5px;
    background: linear-gradient(to right, #ce3a1c 0%, #ffffff 100%);
    border-radius: 5px;
    color: white;
}

.mg {
    width: 320px;
    height: 220px;
    padding: 0;
    overflow: hidden;
}

.mg-img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.mg:hover .mg-img {
    transform: scale(1.2);
}

.mg2 {
    width: 320px;
    height: 220px;
    padding: 0;
    overflow: hidden;
}

.mg2-img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.mg2:hover .mg2-img {
    transform: scale(1.2);
}

.mg3 {
    width: 320px;
    height: 220px;
    padding: 0;
    overflow: hidden;
}

.mg3-img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.mg3:hover .mg3-img {
    transform: scale(1.2);
}

/* Gurantee */
.gurantee {
    background-image: url(./asset/gurantee/01\ \(6\).jpg);
    background-size: cover;
}

.cards {
    margin-top: 150px;
    margin-bottom: 100px;
}

.trust {
    padding: 10px;
    margin: 1px;
    border-radius: 5px;
    background-color: white;
}

.trust-cont h3 {
    color: rgb(19, 19, 117);
}

.trust-cont {
    margin-top: 40px;
    margin-left: -50px;
}

.trust-cont p {
    width: 320px;
    font-size: 16px;
}

.trust-cont button {
    margin-top: 20px;
    font-size: 18px;
    background-color: rgba(93, 181, 239, 0.54);
    color: rgb(13, 86, 135);
    transition: 0.3s;
}

.trust-cont button:hover {
    margin-top: 20px;
    font-size: 18px;
    background-color: rgba(93, 181, 239, 0.54);
    color: rgb(13, 86, 135);
    border-radius: 40px;
    transition: 0.3s;
}

.membership {
    border-radius: 5px;
    padding: 10px;
    margin: 1px;
    background-color: white;

}

.mem-cont h3 {
    color: rgb(19, 19, 117);
    width: 250px;
}

.mem-cont {
    margin-top: 40px;
    margin-left: -50px;
}

.mem-cont p {
    width: 320px;
    font-size: 16px;
}

.mem-cont button {
    margin-top: 20px;
    font-size: 18px;
    background-color: rgba(93, 181, 239, 0.54);
    color: rgb(13, 86, 135);
    transition: 0.3s;
}

.mem-cont button:hover {
    margin-top: 20px;
    font-size: 18px;
    background-color: rgba(93, 181, 239, 0.54);
    color: rgb(13, 86, 135);
    border-radius: 40px;
    transition: 0.3s;
}

/* footer */
.support ul li a {
    text-decoration: none;
    color: white;
}

.support ul li a:hover {
    color: rgb(185, 65, 85);
}

ul {
    list-style-type: none;
}

.footer {
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}

.footer h4 {
    padding: 30px 0px;
}

.about h5 {
    padding: 10px 0px;
}

.featured-mem img {
    border-radius: 50%;
}

.featured-mem h1 {
    position: absolute;
    width: 12px;
    height: 12px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: green;
    margin-top: -12px;
    margin-left: 40px;
}

.featured-mem .ago {
    position: absolute;
    width: 12px;
    height: 12px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: grey;
    margin-top: -12px;
    margin-left: 40px;
}

.featured-mem .row {
    padding: 5px 0px;

}

.featured-mem h5 {
    padding-left: 8px;
}

.activity .row {
    padding: 5px 0px;

}

.activity h5 {
    padding-left: 10px;
}

.last-sec {
    background: url(./asset/bg-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.pink {
    font-weight: 700;
}

.pink:hover {
    color: rgb(185, 65, 85);
}

.cpr {
    background-color: aliceblue;
    padding: 20px 0px;
}

.cpr .media i {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}

.cpr span {
    color: rgb(185, 65, 85);
}

.engage {
    width: 60px;
    height: 60px;
    padding: 0;
    margin-left: 5px;
    overflow: hidden;

}

.engage-img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.engage:hover .engage-img {
    transform: scale(1.2);
}

.selfie {
    width: 60px;
    height: 60px;
    padding: 0;
    margin-left: 5px;
    overflow: hidden;

}

.selfie-img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.selfie:hover .selfie-img {
    transform: scale(1.2);
}

.cycle {
    width: 60px;
    height: 60px;
    padding: 0;
    margin-left: 5px;
    overflow: hidden;
}

.cycle-img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.cycle:hover .cycle-img,
.pink {
    transform: scale(1.2);
}

/* Animation */
@keyframes smoothbounceball {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 20px, 0);
    }
}

.png {
    -webkit-animation-name: bounce;
    -webkit-animation-duration: 2s;
    -webkit-animation-direction: alternate;
    /* -webkit-animation-timing-function: cubic-bezier(.5, 0.05, 1, .5); */
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }
}

/* Responsive */

@media screen and (max-width:768px) {

    /* header section */
    .res-header-section {
        display: none;
    }

    /* navigation */
    .res-navi {
        width: 1500px;
    }
    .navbar-brand {
        font-size: 60px;
        margin-top: 35px;
       
    }
    .login{
        font-size: 30px;
    }
    .signup{
        font-size: 30px;
    }
    .dropdown{
        font-size: 40px;
        padding:20px;
    }
    .dropdown-menu{
        font-size: 30px;
    }
   .icon-bar{
    margin:20px;
    width:100px;

   }

    /* First Page */
    .first-page {
        width: 1500px;
        background: url(./asset/Landing\ Page/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
       
    }

    .content h1 {
        width: 1300px;
        font-size: 80px;
        margin-left: 100px;
    }

    .content p {
        font-size: 40px;
        width: 1000px;
        margin-left: 100px;
    }

    .content button {
        font-size: 40px;
        margin-left: 100px;
    }
    .content button:hover{
        font-size: 40px;
        margin-left: 100px;
        border-radius: 40px;
    }


    .png {
        display: none;
    }

    .land_pic {
        margin-top: 50px;
        width:1000px;
        margin-left:200px;
    
    }

    .land_pic img {
        width: 1000px;
        height:900px;

    }

    /* Section Page */
    .form {
        height: 500px;
        padding-left: 100px;
    }

    .form h5 {
        font-size: 28px
    }

    .top {
        display: flex;
    }

    .bottom {
        display: flex;
    }

    .male .menu {
        padding-right: 300px;
        height: 50px;
        font-size: 25px;
    }

    .female .menu {
        padding-right: 300px;
        height: 50px;
        font-size: 25px;
    }

    .age .menu {
        padding-right: 100px;
        margin-left: -15px;
        height: 50px;
        font-size: 25px;
    }

    .age2 .menu {
        padding-right: 100;
        height: 50px;
        font-size: 25px;
    }

    .location .menu {
        padding-right: 270px;
        margin-left: 100px;
        height: 50px;
        font-size: 25px;
    }

    .location h5 {
        margin-left: 100px;
    }

    .partner {
        margin-top: 40px;
        margin-left: 260px;
        font-size: 32px;
    }
    .partner:hover{
        margin-top: 40px;
        margin-left: 260px;
        font-size: 32px;
        border-radius: 40px;
    }

    .sec-page {
        width: 1500px;
    }

    .gallery p {
        font-size: 60px;
    }

    .gallery h5 {
        margin-left: 180px;
        font-size: 30px;
        width: 1100px;
        line-height: 40px;
        padding:20px 0px;
    }

    .gallery {
        margin-top: 500px;
    }

    .images {
        display: flex;
        margin-left: 180px;
        width: 1100px;
    }

    .ribbon {
        width: 500px;
        height: 600px;
        margin-top: 40px;
    }

    .yellow {
        width: 500px;
        height: 600px;
        margin-top: 40px;
    }

    .forest {
        width: 500px;
        height: 600px;
        margin-top: 40px;
    }

    .blackmark {
        width: 500px;
        height: 600px;
        margin-top: 40px;
    }

    .jean {
        width: 500px;
        height: 600px;
        margin-top: 40px;
    }

    .blue {
        width: 500px;
        height: 600px;
        margin-top: 40px;
    }

    .white {
        width: 500px;
        height: 600px;
        margin-top: 40px;
    }

    .orange {
        width: 500px;
        height: 600px;
        margin-top: 40px;
    }

    .popular {
        margin: 100px 400px;
        font-size: 40px;
    }

    .popular:hover {
        margin: 100px 400px;
        font-size: 40px;
        border-radius: 40px;
    }
   
.ribbon:hover .content h2{
    background: none;
    opacity:0;
}
.blue:hover .content h2{
    background: none;
    opacity:0;
}
.jean:hover .content h2{
    background: none;
    opacity:0;
}
.blue:hover .content h2{
    background: none;
    opacity:0;
}
.blackmark:hover .content h2{
    background: none;
    opacity:0;
}
.orange:hover .content h2{
    background: none;
    opacity:0;
}
.white:hover .content h2{
    background: none;
    opacity:0;
}
.forest:hover .content h2{
    background: none;
    opacity:0;
}
.yellow:hover .content h2{
    background: none;
    opacity:0;
}

    /* dating */
    .dating {
        width: 1500px;
        height: 1800px;
        background: url(./asset/gallery/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      
    }

    .date-head p {
        font-size: 60px;
        margin-top: -60px;
    }

    .date-head h5 {
        margin-left: 160px;
        padding: 20px;
        font-size: 30px;
        width: 1100px;
        line-height:30px;
    }

    .pair1 div {
        width: 500px;
        height: 600px;
        border:2px solid rgba(0, 0, 0, 0.468);
    }

    .pair2 div {
        width: 500px;
        height: 600px;
        border:2px solid rgba(0, 0, 0, 0.468);
    }

    .logo .row {
        display: flex;
        margin-left: 150px;
        padding-bottom:100px;
        width: 850px;
    }

    .logo button {
        display: block;
    }

    .pair1 img {
        margin-top: 100px;
    }

    .pair2 img {
        margin-top: 100px;
    }

    .pair1 h5 {
        font-size: 35px;
    }

    .pair2 h5 {
        font-size: 35px;
    }

    .tv {
        margin-left: -780px;
        margin-top: 1300px;
        font-size: 35px;
        
    }

    .tv:hover {
        margin-left: -780px;
        margin-top: 1250px;
        font-size: 35px;
        border-radius:40px;
    }

    /* regions */
    .regions {
        width: 1500px;
        height: 2500px;
    }

    .area p {
        width: 900px;
        margin-left: 190px;
        font-size: 60px;
        margin-top: -50px;
    }

    .area h5 {
        margin-left: 190px;
        font-size: 30px;
        width: 1100px;
        line-height: 40px;
        padding:20px 0px;
    }

    .locate {
        margin-left: 190px;
        font-size: 35px;
        margin-bottom: 20px;
    }

    .locate:hover {
        margin-left: 190px;
        font-size: 35px;
        margin-bottom: 20px;
    }


    .pics .row {
        display: flex;
        margin-left: 20px;
    }

    .picss {
        display: flex;
        margin-left: 180px;

    }

    .uk {
        width: 500px;
        height: 600px;
    }

    .spain {
        width: 500px;
        height: 600px;
    }

    .taj {
        width: 500px;
        height: 600px;
    }

    .dubai {
        width: 500px;
        height: 600px;
    }

    .france {
        margin-top: 640px;
        margin-left: -1040px;
        margin-bottom: 400px;
        width: 1040px;
        height: 600px;

    }

    .pos img {
        margin-top: -180px;
        width:80px;
        height:80px;
    }

    .pos h4 {
        font-size: 30px;
        margin-top: -100px;
        width:300px;
    }


    /* Work */
    .work {
        width: 1500px;
    }
    .work-head {
        margin-left: 100px;
    }

.work-head h2{
    font-size: 60px;
    margin-top: 150px;
}
    .find {
        height: 550px;
        width: 1040px;
    }

    .list1 {
        display: flex;
        margin-left: 80px;
    }
    .list1 a{
        font-size: 30px;
    }
    .list1 a:hover{
        font-size: 30px;
    }
    
    .list2 a{
        font-size:30px;
    }
    .list2 a:hover{
        font-size:30px;
    }

    .list2 {
        display: flex;
        margin-left: 120px;
    }
    .f2, .f4{
        background-color: white;
    }

    .f4 {
        margin-left: 45px;
        padding-right: 75px;
    }
    .desc{
        background-color: rgba(128, 128, 128, 0.044);
        padding:0px;
        height:430px;
        width:100%;
    }

    .define .row {
        display: flex;
        width: 900px;
        margin-left: -45px;
        margin-top: -250px;
    }

    .caption h2{
        font-size: 60px;
    }
    .caption p{
        font-size: 28px;
        width:600px;
    }

    /* album */
    .album {
        width: 1500px;
    }
   .story h2{
    font-size: 60px;
    padding:20px 0px;
   }
   .story p{
    font-size: 35px;
    width:1200px;
    margin-left:100px;
    
   }
   .mg{
    width:465px;
    height:300px;
   }
.couple1{
    /* border:2px solid red; */
    width:500px;
    height:500px;
}
.couple2{
    /* border:2px solid red; */
    width:500px;
    height:500px;
}
.mg2{
    width:465px;
    height:300px;
}
.couple1 h2 a{
    font-size: 30px;
}
.couple2 h2 a{
    font-size: 30px;
}
.couple3 h2 a{
    font-size: 30px;
}



.name-img img{
    width:70px;
    height:70px;
}
   .flex-couple {
        display: flex;
        /* border:2px solid red; */
        width:1100px;
        margin-left: 200px;
    }

    .photos .row {
        display: flex;
        width: 350px;
        height: 80px;
        /* border:2px solid red; */
    }
    .mg3{
        width:465px;
    height:300px;
    }
    .name h4{
        font-size: 30px;
    }
    .name h5{
        font-size: 26px;
    }

    .non-flex {
        margin-left: 450px;
        /* border:2px solid red; */
        width:500px;
        height:500px;
        margin-top: 100px;
    }

    /* Gurantee */
    .gurantee {
        width: 1500px;
        height:1000px;
       
    }

    .cards {
        width: 1100px;
        height:750px;
        /* border:2px solid red; */
        margin-top: 140px;
    }

    .trust {
        display: flex;
       margin-bottom: 20px;
       /* border:2px solid red; */
       height:360px;
    }

    .trust-cont {
        margin-left: 100px;
    }
    .trust-cont h3{
        font-size: 50px;
    }
    .trust-cont p{
        font-size: 30px;
        width:600px;
    }
    .trust-cont button{
        font-size: 30px;
        margin-bottom:20px;
    }
    .trust img{
        margin-left: 50px;
        margin-top:50px;
    }

    .membership {
        display: flex;
       margin-bottom: 20px;
       /* border:2px solid red; */
       height:360px; }

    .mem-cont {
        margin-left: 80px;
    }

    .mem-cont h3{
        font-size: 50px;
        width:600px;
    }
    .mem-cont p{
        font-size: 30px;
        width:600px;
    }
    .mem-cont button{
        font-size: 30px;
        margin-bottom:20px;
    }
    .membership img{
        margin-left: 70px;
        margin-top:50px;
    }
/* Last section */
    .last-sec {
        background: url(./asset/bg-2.jpg);
        background-size: cover;
        width: 1500px;
        padding-left: 100px;
      

    }
    .about {
        width: 600px;
        /* border: 2px solid red; */
    }

    .about h4{
        font-size: 38px;
    }
    .about h5{
        font-size: 28px;
    }

    .footer {
        width: 1400px;
    }

    .activity {
        width: 600px;
        /* border: 2px solid red; */
        padding-left: 200px;
    }
    .activity h4{
        font-size: 38px;
    }
    .activity h5{
        font-size: 24px;
        margin-left:20px;
    }
    .activity .row {
        display: flex;
    }
    .activity img{
        width:100px;    
        height:100px;
    }
       .support {
        width: 600px;
        /* border: 2px solid red; */
    }
    .support h4{
        font-size: 38px;
    }
    .support ul li a{
        font-size: 28px;
    }

    .featured-mem {
        width: 600px;
        /* border: 2px solid red; */
        padding-left: 200px;
    }
.featured-mem h4{
    font-size: 38px;
}
.featured-mem h5{
    font-size: 24px;
}
.featured-mem img{
    width:80px;
    height:80px;
}
    .part1 {
        display: flex;
    }
    .part2 {
        display: flex;
        margin-top: 50px;
    }
    .featured-mem .row {
        display: flex;
    }
.footer h1{
    margin-left:50px;
    width: 15px;
    height:15px;
}
.footer .ago{
    margin-left:50px;
    width: 15px;
    height:15px;
}

    /* Copyrights */
    .cpr {
        width: 1500px;
        padding:50px 0px ;
    }
    .cpr h4{
        font-size: 32px;
        /* border:2px solid red; */
        margin-left: -200px;
        padding:50px 0px ;
       
    }
    .copy {
        display: flex;
        margin-left: 500px;
    }
    .media {
        /* border: 2px solid red; */
        width: 450px;
        /* border:2px solid red; */
    }
    .media i{
        font-size: 40px;
    }

}